@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
 background-color: #27272e;
 font-family: 'DM Sans', cursive;
}

:root {
    --purple: #6448f0;
  }





.about {
    position: absolute;
    top:8.8%;
    left: 7%;
    width: 90%;
    height: 20%;
}

#cont {
    background-color: var(--purple);
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.about p {
    margin-top: -2%;
    margin-left: 15%;
    font-size: 25px;
    width: 60%;
    color: hsla(0,0%,100%,.5)
}

.about span {
    color: var(--purple);
}
.about h1 {
    margin-top: -10%;
    margin-left: 15%;
    color: white;
    width: 60%;
}
.about img {
    border-radius: 15px;
}
.about2 {
    position: absolute;
    top:27.8%;
    left: 3%;
}

.about2 ul {
     list-style-type: none;
}

.about3 {
    position: absolute;
    top:30%;
    left: 47%;
    width: 50%;
    background-color: #212529;
    height: 60%;
    border-radius: 5px;
}



.about2 div {
    width: 490px;
    height: 170px;
    border-radius: 5px;
    background-color: #212529;
}

.tit{
  padding: 4% 10% !important;
  color: white;
  font-size: 20px;
}

.about2 p{
    padding: 0% 10%;
}

.elem {
    color: #a88038;
}

.elem2 {
    color: #e1ca72;
}

.elem3 {
    color: #74b087;
}

.elem4 {
    color: white;
}

.elem5 {
    color: #9f8198;
}

.elem6 {
    color: #7a99ad;
}

.about4 {
    position: absolute;
    top:92.8%;
    left: 3%;
    width: 70%;
}

.about4 ul {
    list-style-type: none;
}

.about4 ul li {
    display: inline-block;
}

.about4 ul li div {
    width: 60px;
    background-color: #212529;
    height: 50px;
    border-radius: 5px;
}


.about4 ul li div::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--purple);
    transition: width .3s;
}

.about4 ul li div:hover::after {
    width: 100%;
}

.about4 ul li div img {
    width: 30px;
    padding: 11px 15px;
}
.about4 h2 {
    color: white !important;
    margin-left: 5%;
}


.about4 ul li div span {
    margin-top: -5%;
}

.about4 p   {
    color: white !important;
    margin-left: 55% !important;
}