@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
 background-color: #27272e;
 font-family: 'DM Sans', cursive;
}

.about {
    position: absolute;
    top:8.8%;
    left: 7%;
    width: 90%;
    height: 20%;
}

#cont {
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

.about p {
    font-size: 25px;
    margin-top: -15px;
    width: 90%;
    color: hsla(0,0%,100%,.5)
}

.about span {
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about h1 {

    color: white;
    width: 60%;
}
.about ul {
    position: absolute;
    top:-17%;
    left: 10%;
    list-style-type: none;
}
.about img {
    border-radius: 15px;
}
.about2 {
    position: absolute;
    top:27.8%;
    left: 3%;
}

.about2 ul {
     list-style-type: none;
}

.about3 {
    position: absolute;
    top:55%;
    left: 67%;
    background-color: #212529;
}



.about2 div {
    width: 130%;
    height: 170px;
    border-radius: 5px;
    background-color: #212529;
}

.tit{
  padding: 4% 10% !important;
  color: white;
  font-size: 20px;
}

.about2 p{
    padding: 0% 10%;
}

.elem {
    color: #a88038;
}

.elem2 {
    color: #e1ca72;
}

.elem3 {
    color: #74b087;
}

.elem4 {
    color: white;
}

.elem5 {
    color: #9f8198;
}

.elem6 {
    color: #7a99ad;
}

.about4 {
    position: absolute;
    top:92.8%;
    left: 3%;
    width: 90%;
}

.about4 ul {
    list-style-type: none;
}

.about4 ul li {
    display: inline-block;
}

.about4 ul li div {
    width: 60px;
    background-color: #212529;
    height: 50px;
    border-radius: 5px;
}


.about4 ul li div::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.about4 ul li div:hover::after {
    width: 100%;
}

.about4 ul li div img {
    width: 30px;
    padding: 11px 15px;
}
.about4 h2 {
    color: white !important;
    margin-left: 5%;
}


.about4 ul li div span {
    margin-top: -5%;
}

.about4 p   {
    color: white !important;
    margin-left: 44.5% !important;
}

@media only screen and (max-width: 600px) {
    .about ul {
        position: absolute;
        top:-17%;
        left: 23%;
        list-style-type: none;
    }
    .about2 div {
        width: 95%;
        height: 150px;
    }
    .about2 p {
        font-size: 10px;
    }
}


@media only screen and (max-width: 1000px) {
    .about ul {
        position: absolute;
        top:-17%;
        left: 13%;
        list-style-type: none;
    }
    .about2 div {
        width: 95%;
        height: 160px;
    }
    .about2 p {
        font-size: 15px;
    }
}
@media only screen and (max-width: 737px) {
    .about ul {
        position: absolute;
        top:-17%;
        left: 17%;
        list-style-type: none;
    }
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
